@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Inter-Regular";
		font-weight: 400;
		src: url("../assets/fonts/static/Inter-Regular.ttf");
	}

	@font-face {
		font-family: "Inter-Bold";
		font-weight: 700;
		src: url("../assets/fonts/static/Inter-Bold.ttf");
	}

	@font-face {
		font-family: "Inter-ExtraBold";
		font-weight: 800;
		src: url("../assets/fonts/static/Inter-ExtraBold.ttf");
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
