@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Inter-Regular";
		font-weight: 400;
		src: url("../assets/fonts/static/Inter-Regular.ttf");
	}

	@font-face {
		font-family: "Inter-Bold";
		font-weight: 700;
		src: url("../assets/fonts/static/Inter-Bold.ttf");
	}

	@font-face {
		font-family: "Inter-ExtraBold";
		font-weight: 800;
		src: url("../assets/fonts/static/Inter-ExtraBold.ttf");
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@layer components {
	.audio-btn {
		@apply cursor-pointer w-[26px] flex bg-[color:hsl(240,_100%,_5%)] justify-center border-2 border-[color:hsl(240,_100%,_5%)] rounded-[9999px] p-[5px];
	}
}
